.offers {
    padding: 150px 0 50px;
    background: #060606;
}

.main-slider {

    &__block {
        width: 100%;
        height: 288px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 116px;
    }
}

.main-plans {
    background: #060606;
}
.main-plans .container {
    padding: 150px 20px 146px;
}

.main-plans .main-slider__block {
    height: unset;
    align-items: flex-start;
    margin-top: 0;
}

.main-faq .main-slider__block {
    height: unset;
    align-items: flex-start;
    margin-top: 60px;
}

.main-slider__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 54px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.main-plans .main-slider__nav {
    border-right: unset;
}

.main-faq .main-slider__nav {
    padding-right: 95px;
}

.main-plans__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.main-slider__navButton {
    cursor: pointer;
}

.main-slider__navItems {
    margin: 35px 0;
}

.main-slider__navItem {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #5B5D5D;
    margin-bottom: 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s;
}

.main-slider__navItem:last-child {
    margin-bottom: 0;
}

.main-slider__navItem.active,
.main-slider__navItem:hover {
    color: #F2D954;
}

.main-slider__items {
    display: flex;
    flex-direction: column;
    max-width: 733px;
    height: 100%;
}

.main-plans .main-slider__items {
    max-width: 900px;
}

.main-faq .main-slider__items {
    max-width: 862px;
    width: 100%;
}

.main-plans .main-slider__items {
    max-width: 100%;
}

.main-slider__item {
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.main-slider__item.active {
    display: flex;
}

.main-plans__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #F2D954;
    border-radius: 15px;
    padding: 50px;
}

.main-plans__itemTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-plans__itemText {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.main-plans__itemGrid {
    width: 100%;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
}

.main-plans__itemGridItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    border-top: 1px solid #323232;
}

.main-plans__itemGridItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-plans__itemGridItemHeaderIcon {
    margin-right: 10px;
}

.main-plans__itemGridItemHeaderText {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.main-plans__itemGridItemRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.main-plans__itemGridItemTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-plans__itemGridItemTextBlock:first-child {
    margin-right: 35px;
    padding-right: 35px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);;
}

.main-plans__itemGridItemText {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}

.main-plans__itemGridItemValue {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.main-plans__itemGridItemShort {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-plans__itemGridItemShortValue {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media screen and (max-width: 1150px) {
    .main-faq .main-slider__nav {
        margin-right: 32px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1023px) {

    .main-slider {
        &__block {
            margin-top: 30px;
            flex-direction: column;
            height: auto;
        }
    }

    .main-faq .main-slider__block {
        margin-top: 30px;
    }

    .main-slider__nav {
        width: calc(100% + 40px);
        padding-right: 0;
        border-right: unset;
        align-items: flex-start;
    }

    .main-plans__title {
        width: calc(100% - 40px);
        text-align: center;
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 32px;
    }

    .main-slider__navButton {
        display: none;
    }

    .main-slider__navItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-y: auto;
        justify-content: flex-start;
        max-width: 100%;
        margin: 0 0 35px;
        padding: 0 20px 20px;
    }
    .main-slider__navItems::-webkit-scrollbar {
        height: 1px;
    }

    .main-plans .main-slider__navItems {
        padding: 0;
        margin-bottom: 40px;
    }

    .main-faq .main-slider__navItems {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 20px;
    }

    .main-slider__navItem {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .main-slider__navItem:last-child {
        margin-right: 0;
    }

    .main-plans__item {
        padding: 24px;
    }
}

@media screen and (max-width: 630px) {
    .main-plans__itemGrid {
        grid-template-columns: repeat(1,minmax(200px,1fr));
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 332px) {
    .main-slider__item {
        transform: scale(95%);
    }
}
