.reviews {
    position: relative;
    padding: 144px 0 166px;
    min-height: 638px;
    
    background-color:#0F1111;
    background-image: url('../img/main/ecosystem.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__background {
        background: #0F1111;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__backgroundImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: none;
    }
}


canvas {
    display: block;
}

.waves {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.blok {
    width: 100%;
    height: 700px;
}


@media screen and (max-width: 1023px) {
    .reviews {
        padding: 50px 0 90px;
        // min-height: unset;

        &__backgroundImg {
            display: block;
        }
    }

}
